<div class="container">
    <img src="src/assets/images/OPENEBS.png">
</div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="master-tab" data-toggle="tab" href="#master" role="tab" aria-controls="master" aria-selected="true">Master</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="release-tab" data-toggle="tab" href="#release" role="tab" aria-controls="release" aria-selected="false">v0.6</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="master" role="tabpanel" aria-labelledby="master-tab">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Commits</th>
            <th scope="col">Builds</th>
            <th scope="col">AWS</th>
            <th scope="col">GCP</th>
          </tr>
        </thead>
        <tbody *ngIf="undefined !== restItems">
            <tr *ngFor="let post of restItems">
            <th scope="row">jiva/#{{post.id}}</th>
            <td>
              <button type="button" [ngClass]='buttonClass(post.build.status)' (click)="clickit(post.build.web_url);">
                <i [ngClass]='iconClass(post.build.status)' style="font-size:14px"></i> {{post.build.status}}
              </button>
            </td>
            <td>
              <button type="button" [ngClass]='buttonClass(post.aws.status)' (click)="clickit(post.aws.web_url);">
                <i [ngClass]='iconClass(post.aws.status)' style="font-size:14px"></i> {{post.aws.status}}
              </button>
            </td>
            <td>
              <button type="button" [ngClass]='buttonClass(post.gcp.status)' (click)="clickit(post.gcp.web_url);">
                <i [ngClass]='iconClass(post.gcp.status)' style="font-size:14px"></i> {{post.gcp.status}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="release" role="tabpanel" aria-labelledby="release-tab">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Commits</th>
            <th scope="col">Builds</th>
            <th scope="col">AWS</th>
            <th scope="col">GCP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">jiva/#d4s3fe2</th>
            <td>
              <button type="button" class="btn btn-round btn-primary">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size:14px"></i> Running
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-round btn-basic">
                <i class="fa fa-clock-o" style="font-size:14px"></i> Pending
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-round btn-basic">
                <i class="fa fa-clock-o" style="font-size:14px"></i> Pending
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">maya/#dgd516s</th>
            <td>
              <button type="button" class="btn btn-round btn-success">
                <i class="fa fa-check-circle" style="font-size:14px"></i> Success
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-round btn-success">
                <i class="fa fa-check-circle" style="font-size:14px"></i> Success
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-round btn-danger">
                <i class="fa fa-exclamation-triangle" style="font-size:14px"></i> Failed
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">istgt/#da1se1c</th>
            <td>
              <button type="button" class="btn btn-round btn-success">
                <i class="fa fa-check-circle" style="font-size:14px"></i> Success
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-round btn-primary">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size:14px"></i> Running
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-round btn-success">
                <i class="fa fa-check-circle" style="font-size:14px"></i> Success
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    
  </script>