#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.btn-round {
    border-radius: 30px;
    width: 120px;
    font-size: 12px;
}
.success-text {
  color: green;
}

.failed-text {
  color: red;
}
a {
   color: inherit; 
}

.logo {
  width: 420px;
  left: 0px;
}

.e2e {
  padding-top: 50px;
}

.mast-head {
  margin-top: -50px;
  margin-bottom: -40px;
}

.icon-aws {
  width: 20px;
  height: 20px;
}

.icon-gcp {
  width: 50px;
  height: 20px;
}