#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.bg {
  background-color:#e6e6e6
}
.white {
  background-color: white; 
  /* margin-right: 50px;  */
}
.btn-round {
    border-radius: 30px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.btn-round:hover {
    background:white;
    color: black;
}

.btn-cancel {
  background: #b5b3b3;
}
.success-text {
  color: green;
}

.failed-text {
  color: red;
}
a {
   color: inherit; 
}
.text {
  align-items: center
}

.table td, .table th {
  vertical-align: 0px;
}
/* 
.logo {
  width: 420px;
  left: 0px;
}

.e2e {
  padding-top: 50px;
}
*/
.mast-head {
  /* margin-top: -50px; */
  /* margin-bottom: -40px; */
  height: 110px;
} 

.icon-aws {
  width: 20px;
  height: 20px;
}

.icon-gcp {
  width: 50px;
  height: 20px;
}

.e2e {
  width: 50px;
  height: 150px;
  /* align-content: right; */
}

.stargazers {
  bottom: -3px;
}
.heart-btn {
  /* color: white; */
  align-self: right;
}
.heart-btn:hover {
  background: white;
  color: red;
}
.heart-right {
  align-content: flex-end;
}

/* Hover Button dropdown */
.dropbtn {
 
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* 
.btn {
  padding: 0px;
} */

.dropdown-content {
  border-radius: 30px;
  width: 120px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: rgb(255, 255, 255);
  background-color: grey;
  border-radius: 30px;
}

.dropdown:hover .dropdown-content {display: block; size: 10px;}


/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
/* End Hover Button dropdown */
.navp > nav {
  display: block;
  /* background: black; */
}

/* Cross Bow Effect */
.left-center {
  right: 0px;
}
.left {
  /* top: 15px; */
  align-self: center;
  left: 20px;
}
.right {
  left:20px;
}
.connector {
  left: 25px;
  /* top: 10px; */
  align-self: center;
  z-index: 0;
}
.right-up {
  padding-bottom: 2px; 

}
.right-down {
  padding-top: 10px;
}
.pipe {
  height: 60px;
  width: 60px;

}
/* 
.left {
  align-self: center;
}
.connector {
  align-self: center;
  box-sizing: content-box;
  z-index: -1;
}
.right {
  align-self: flex-start;
}
.right-down {
  padding-top: 3px;
}
.right-up {
  padding-bottom: 3px; 

}
.left {
  top: 15px;
}
.right {
  right:40px;
  bottom: 5px;
}

.pipe {
  position: absolute;
}
.left-center {
  position: relative;
} */
/* END */
.btn-litmus {
  background: rgb(157, 157, 255)
}

.btn-eye {
  background: #ff4500
}

.box {
  -webkit-box-shadow: 3px 3px 37px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 37px 2px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 37px 2px rgba(0,0,0,0.5);
}
.borderless td, .borderless th {
  border: none;
}