<div class="container-fluid mast-head row">
    <img class="logo col-sm-6" src="src/assets/images/openebs-e2e.png">
    <div class="col-sm-4"></div>
    <!-- <img class="e2e col-sm-2" src="/src/assets/images/mule.png"> -->
</div>
<!-- ci dashboard and workloads -->

<!-- END ci dash.. -->

<div class="container-fluid">
 <div class="container-fluid row ">
      <div class="col-md-4">
        <ul class="nav navbar-dark bg-light nav-tabs nav-pills" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="master-tab" data-toggle="tab" href="#master" role="tab" aria-controls="master" aria-selected="true">Master</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="release-tab" data-toggle="tab" href="#release" role="tab" aria-controls="release" aria-selected="false">v0.7-rc1</a>
        </ul>
      </div>
      <div class="col-sm-6"></div>
      <div class="col-sm-2 stargazers">  
          <button type="button" class="btn heart-btn btn-danger" (click)="clickit('https://github.com/openebs/openebs/stargazers');"><i class="fa fa-heart"> </i> <span class="badge badge-light"></span></button>
      </div>
 </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active table-responsive" id="master" role="tabpanel" aria-labelledby="master-tab">
        <table class="table table-hover header-fixed">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><i class="fa fa-code-fork "></i> Commits</th>
              <th scope="col"><img src="src/assets/images/icon-aws.png" class="icon-aws">  AWS</th>
              <th scope="col"><img src="src/assets/images/icon-gcp.png" class="icon-gcp">GCP</th>
            </tr>
          </thead>
          <tbody *ngIf="undefined !== restItems">
              <tr *ngFor="let post of restItems">
              <td scope="row">
                <span class="text">
                  <a href="" target="_blank">
                    <!-- jiva/#{{post.id}} --> {{post[0].commit.substring(0,8)}}
                  </a>
                </span>
              </td>
              <td>
                <div class="container row">
                    <div class="left col-md-3">
                      <div class="left-center">
                        <button type="button" [ngClass]='buttonClass(post[1].aws.status)' (click)="clickit(post[1].aws.web_url);">
                          <i [ngClass]='iconClass(post[1].aws.status)' style="font-size:14px"></i> {{post[1].aws.status.toUpperCase()}}
                        </button>
                      </div>
                    </div>
                    <div class="connector col-md-2">
                      <img src="assets/images/pipe.svg" class="pipe">
                    </div>
                    <!-- Buttons Linking to Litmus -->
                    <div class="right col-md-3">
                      <div class="right-up">
                          <button type="button" class="btn dropbtn btn-round btn-litmus" (click)="clickit(post[1].aws.web_url);">
                            <i class="fa fa-thermometer-empty" style="font-size:14px"></i> GITLAB
                          </button>
                      </div>
                      <div class="right-down">
                          <button type="button" class="btn dropbtn btn-round btn-eye" (click)="clickit(post[1].aws.web_url);">
                            <i class="fa fa-eye" style="font-size:14px"></i> LOGS
                          </button>
                      </div>
                    </div>
                </div>
              </td>
              <td>
                  <div class="container row">
                      <div class="left col-md-3">
                        <div class="left-center">
                          <button type="button" [ngClass]='buttonClass(post[1].aws.status)' (click)="clickit(post[1].aws.web_url);">
                            <i [ngClass]='iconClass(post[1].aws.status)' style="font-size:14px"></i> {{post[1].aws.status.toUpperCase()}}
                          </button>
                        </div>
                      </div>
                      <div class="connector col-md-2">
                        <img src="assets/images/pipe.svg" class="pipe">
                      </div>
                      <!-- Buttons Linking to Litmus -->
                      <div class="right col-md-3">
                        <div class="right-up">
                            <button type="button" class="btn dropbtn btn-round btn-litmus" (click)="clickit(post[1].aws.web_url);">
                              <i class="fa fa-thermometer-empty" style="font-size:14px"></i> GITLAB
                            </button>
                        </div>
                        <div class="right-down">
                            <button type="button" class="btn dropbtn btn-round btn-eye" (click)="clickit(post[1].aws.web_url);">
                              <i class="fa fa-eye" style="font-size:14px"></i> LOGS
                            </button>
                        </div>
                      </div>
                  </div>
                </td>
              
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="release" role="tabpanel" aria-labelledby="release-tab">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Commits</th>
              <th scope="col">Builds</th>
              <th scope="col">AWS</th>
              <th scope="col">GCP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">jiva/#d4s3fe2</th>
              <td>
                <button type="button" class="btn btn-round btn-primary">
                  <i class="fa fa-circle-o-notch fa-spin" style="font-size:14px"></i> Running
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-round btn-basic">
                  <i class="fa fa-clock-o" style="font-size:14px"></i> Pending
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-round btn-basic">
                  <i class="fa fa-clock-o" style="font-size:14px"></i> Pending
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">maya/#dgd516s</th>
              <td>
                <button type="button" class="btn btn-round btn-success">
                  <i class="fa fa-check-circle" style="font-size:14px"></i> Success
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-round btn-success">
                  <i class="fa fa-check-circle" style="font-size:14px"></i> Success
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-round btn-danger">
                  <i class="fa fa-exclamation-triangle" style="font-size:14px"></i> Failed
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">istgt/#da1se1c</th>
              <td>
                <button type="button" class="btn btn-round btn-success">
                  <i class="fa fa-check-circle" style="font-size:14px"></i> Success
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-round btn-primary">
                  <i class="fa fa-circle-o-notch fa-spin" style="font-size:14px"></i> Running
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-round btn-success">
                  <i class="fa fa-check-circle" style="font-size:14px"></i> Success
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
